> I wrote a little Code Snippet that returns the "California Housing" dataset provided by [`sklearn`](https://scikit-learn.org/stable/index.html) as a named [`pandas`](https://pandas.pydata.org/docs/) dataframe. Ready for you to use in your applications.

In [16]:
# copy and paste this cell - make sure you have numpy, pandas and sklearn installed
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing

dict_data = fetch_california_housing()  # get the housing data as a dictionary

list_names = dict_data.feature_names  # get the feature names
list_names.extend(dict_data.target_names)  # extend the name list by the target's name

data = np.concatenate([dict_data.data, dict_data.target.reshape(-1,1)], axis=1) # create one np.array out of them
df = pd.DataFrame(data=data, columns=list_names)  # transform into pandas and add the respecitive column names

In [17]:
df.head(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,2.992
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,2.414
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,2.267
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,2.611

## Get yourself some Toy Data
Often times, we come up with an idea for a visualization or simply want to try out a new model we have heard off. In short: We need data. 

However, this can sometimes become a tedious problem as a real world dataset might need additional cleaning, which can be too much effort for a short test or playing around. Here, a toy dataset can come in handy. There are tons of toy-data sets out there, many good ones presented by the [`sklearn.dataset`](https://scikit-learn.org/stable/datasets/toy_dataset.html) module. In the example above I remodel the arrays provided by `fetch_california` into a `pd.DataFrame`.

For more information on the "California Housing" dataset visit [`sklearn.datasets.fetch_california`](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html?highlight=california%20housing#sklearn.datasets.fetch_california_housing).

In [ ]:
#!jupyter nbconvert --output-dir='../source/_posts' --execute --TagRemovePreprocessor.enabled=True --TagRemovePreprocessor.remove_input_tags="['echo',]" --TagRemovePreprocessor.remove_cell_tags="['hide',]" --to markdown Untitled.ipynb